@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Raleway:wght@300&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
  height: 100vh;
  /* width: 100%; */
}

.logo{
    height: 70%;
    width: 20%
    
}
#logonav{
  left: 500px;
  position: relative;
  list-style: none;
  display: inline-block;
  border-radius: 0;
  box-shadow: 0 0;
  top: -53px;
}


  

.heading{
    top: 88px; 
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.bot-message{
  font-size: large;
  color: rgb(0, 0, 0);
  /* background-color: rgb(255, 255, 255); */
  background-color:  #F2F2F2;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px 10px;
  border-radius: 0 15px 15px 15px;
  
  justify-content: center;
  align-items: center;
  display: table;
  margin: 20px 10px;
  text-align: center;
   box-shadow: 4.0px 4.0px 8.0px hsl(0deg 0% 0% / 0.38);
  max-width: 40%;
  float: left;
  clear: both;
  
  

}
.user-message{
  /* width: auto; */
  max-width: 40%;
  font-size: large;
  background-color: #F2F2F2;
  color: black;
  box-shadow:  4.0px 4.0px 8.0px hsl(0deg 0% 0% / 0.38);
  font-family: 'Barlow', sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  padding: 10px 10px;
  border-radius: 15px 15px 0px 15px;
  justify-content: center;
  align-items: center;
  display: table;
  
  margin: 20px 10px;
  text-align: center;
  float: right;
  clear: both;
}
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    
    /* height: 95vh; */
  }
  
  


.parent{
   height: 98vh;
   width: 98vw;

}

.firstnav{
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

.mynavright ul{
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.mynavright ul li{
     margin: 15px;
     color: gray;
}

.logo{
  text-align: center;
  max-width: 30%;
  position: absolute;
  left: 40%;
}

.endnav{
  position: absolute;
  right: 4%;
  max-width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.search{
  
  
  display: flex;
  justify-content: end;
  align-items: center;
}

.search input{

  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 40px;
  padding: 5px 10px;
  font-size: medium;
  margin: 3px;
  margin-right: 0px;
  /* font-family: 'Roboto-slab'; */
  font-family: 'Barlow', sans-serif;
  outline: none;
  position: relative;
}
i{
  
  font-size: 20px;
  position: absolute;
  /* right: 7px; */
  margin: 3px;
  margin-left: 0px;
  display: flex;
  text-align: center;
  z-index: 2;
}
i:hover{
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


.socialicon{
    display: flex;
    align-items: center;
}

.twitter{

  font-size: 20px;
  
  text-decoration: none;
  color: black;
  margin: 3px 5px;
}
.twitter:hover{
  color: #196fc5;
}
.youtube{

  font-size: 20px;

  text-decoration: none;
  color: black;
  
  margin: 3px 5px;
}
.youtube:hover{
  color: red;
}
.insta{
 
  text-decoration: none;
  color: black;
  
  margin: 3px 5px;
}



.navleft{
   display: flex;
    height:6%;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* left: 10px; */
    /* border: 2px solid black; */
    border-radius: 7px;
    margin-bottom: 5px;
    /* box-shadow: 0 0 15px rgb(197, 193, 193); */
}
.navleft ul{
      display: flex;
      align-items: center;
}
.navleft ul li{
  list-style: none;
    font-size: 1.1rem;
    /* margin: 5px 0px;
    padding: 5px 35px; */
    margin: 5px 40px;
}
.navleft ul li a{
  color: rgb(0, 0, 0);
  position: relative;
  
  /* display: block; */
  padding: 3px 10px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  /* transition: all 0.1s ease-in-out; */
}
.navleft ul li a:hover{
  border-bottom: 2px solid rgb(0, 0, 0);
}
/* luxury watches */
#luxe{
  color: #d4ab00;
  /* font-family: 'Playfair Display', serif; */
  font-weight: 900;
}





.chat-container {
  height: 73%;
  width: 90%;
 
  display: block;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 3px;
  border-radius: 12px;
  background-color: #cbc0c0;
  box-shadow: 0 0 5px #d4d2d2;
  
}
.chat-box::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(208, 201, 201);
  /* box-shadow: 0 0 3px black; */
  border-radius: 12px;
}

.chat-box::-webkit-scrollbar-thumb{
  background-color: #ffffff;
  box-shadow: 0 0 1px #4d4a4ae3;
  border-radius: 12px;
}

.chat-box {
    height: 95%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: auto;
    /* border: 5px solid blueviolet; */
  }

.user-input {
  display: flex;
  margin: 0 auto;
  padding: 0px 0px;
  /* background-color: #ddd0d0; */
  background-color: transparent;
  /* background-color: white; */
  border-radius: 0 0 0 10px;
  /* box-shadow: 0px 1px 1px 1px gray; */
 position: relative;
  width: 90%;
  
}
.user-input input:hover{
  box-shadow: 0 1px 1px 1px #cbc0c0;
}
.user-input input{
  flex: 1;
  font-family: 'Barlow', sans-serif;
  padding: 8px;
  margin-right: 4px;
  border: 1px solid gray;
  border-radius: 12px;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  /* background-color: transparent; */
  /* box-shadow: 0 0 3px rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
  height: 38px;
  transition: 0.3s;
  outline: none;
  padding-left: 20px;
}
.user-input input::placeholder{
  color: rgb(0, 0, 0);
  /* padding-left: 10px; */
}

.user-input button{
padding: 15px 40px;
background: #196fc5;
border:0;
color: #ffffff;
top: 2px;
left: -2px;
border-radius: 12px;
font-size: medium;
font-family: 'Barlow', sans-serif;
position: relative;
transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
cursor: pointer;
display: block;
height: 54px;
margin:-2px;
width: 110px;
}
.user-input button::after,
.user-input button::before{
content: "";
position: absolute;
top: 50%;
right: 0px;
transform: translateY(-50%);
  opacity: 0;
transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.user-input button::after{
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.user-input button::before{
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
margin-top: -1px;
}
.user-input button:hover{
padding: 15px 60px 15px 20px;
background-color: #125599;
}
.user-input button:hover::after,
.user-input button:hover::before{
opacity: 1;
right: 15px;
top: 26px;
}

.ref{
  color: rgb(71, 70, 70);
  text-decoration: none;
  position: absolute;
  right: 130px;
  top: 30%;
  font-size: 22px;
  transition: all 1s ease-in-out;
}
.ref:hover{
  color: black;
  transform: rotate(360deg);
}


/* media queries */


@media (max-width:700px)
{
    .navleft{
      display: none;
    }
    .endnav{
      display: none;
    }
    .logo{
      width: 80%;
    }
    .logo img{
      width: 80%;
    }
     
    .user-message{
      max-width: 60%;
      margin: 10px;
    }
    .bot-message{
      max-width: 60%;
      margin: 10px;
    }

}




